.example-container {
    position: fixed;
    top: 65px;
    bottom: 18px;
    left: 0px;
    right: 50;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }


  .fixed-divs {
    position: fixed;
    bottom:0;
    right: 75%;
    }

    #side-nav-ul {
      list-style-type: none;
      margin: 0px;
      padding: 5px;
      /* background-color: rgb(203, 205, 223); */
  
    }

    .White-icon{
      color: white;
    }
  

    #side-column {
      
  }
  #left-column {
    float:left;
    display:inline-block;
    
     
  }
  #right-column{
    float:right;
    display:inline-block;
      
  }