<!-- <div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        
         
      </div>
      <div id="navbar" >
        <ul class="nav navbar-nav navbar-right">
             
             <li ><a  routerLink="home" routerLinkActive="activeLink" >
             <strong>Home</strong></a></li>
             
             <li ><a  routerLink="dataVisualization" routerLinkActive="activeLink">
             <strong>Visualization</strong></a></li>
        </ul>   
      </div>
    </div>
  </nav>
</div>
<img src="/src/assets/bootstrap.svg" alt="" width="32" height="32" title="Bootstrap">

 -->

 <!-- <nav class="navbar fixed-top navbar-right">
  <a class="navbar-brand" href="#">Seats </a>
 

</nav> -->


<!-- https://icons8.com/icons/set/grid 40-->
<!-- https://icons8.com/icons/set/home 35 -->

<!-- <div class="borders">
</div>

<div id="headernavbar">
<div class="container-fluid">
  
<ul class="nav justify-content-end">
  <li class="nav-item">
      <a  class="nav-link" href="HomeNav">
          <mat-icon class="White-icon">home</mat-icon>
         <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAABmJLR0QA/wD/AP+gvaeTAAABbElEQVRYhe2UvUoDQRSFz5WA4A8hlUSfwCoIVkqKYC34GHaWvoLgCwQLC5uUipWdjVgEWwsbYxPQUrNp/SwyK+smm524m02zB4blzsy58+1hGKnUHAUsL5pBkgQ0gT7QXDTIPvDFSEOgtSiQJjBwIN/uOyg8oVgiL8AO8Fx4QhNANt38RqFASSCR9WKA0kAKA/IFmTvQrCBzA/ovSO5AWUFyA8oLJDMQf1/WV6CeBSTSt+76gc9LHUsEoJMHSKR/J9J7LKFKZOOupDtJax5NjyVVp2z5NLN2SpsVSbdAy8ye4gesAvfujlxNSwboMV29BF+YzKW7Qw/Aerj+m4yZDYFDjZI5SfmrUI+S+pF6S9Keh+9D0oGkwMyCMRgHFEgKAE8WnZvZTVgAR5KufYxm9h6fW/I9tQiVMEkqYZJUwiSpkrLeAM4mzNdSfLUEXyMLzLYbs6oq6XRWUxJMV9KFh/9tQu3j63rsKVUqVT/SVEUBy/buuwAAAABJRU5ErkJggg==">   

      </a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" href="SeatsNav">
        <mat-icon class="White-icon">grid_on</mat-icon>
       <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QA/wD/AP+gvaeTAAAAsUlEQVRYhe3VsQ3CMBQE0DPKTLAF69AF1mACFoFVUgE9BRxNIiF8YBzJn+Zek+jnEn0X0QFmVo/kgeSDuQvJVatczYJ38bFJ3yqndB/mi/F6AnAc7zdvz1rkfvNyul3kTKnfPlhpwe10zOBcccHrl3fODXOZpIYklwDWyH+iAcA+pXRrkbMwdJPonOImqZkpbpKZueKCbhKVszB0k+ic4iapmSlukpm54oJuEpUzM/uDJ8yIoeCBvIZmAAAAAElFTkSuQmCC">    
    </a>
    </li>
</ul>
</div>
</div> -->


    <mat-toolbar id="headernavbar" >
      <span></span>
    
      <!-- This fills the remaining space of the current row -->
      <span class="spacer"></span>
    
    
        <a  class="nav-link" routerLink="/HomeNav">
            <mat-icon class="White-icon">home</mat-icon>
  
        </a>
   
      <a  class="nav-link" routerLink="/SeatsNav">
          <mat-icon class="White-icon">grid_on</mat-icon>
      </a>
    </mat-toolbar>



<div id="sidenav" class="fixed-div"> 
        <ul id="side-nav-ul" >
            
            <li >
              <a  routerLink="/WifiNav">
                <mat-icon class="White-icon">network_wifi</mat-icon>
            </a>
          </li>
          
        
            <li >
              <a  routerLink="/SettingsNav">
                <mat-icon class="White-icon">settings</mat-icon>
            </a>
          </li>
          
        
          <li >
              <a  routerLink="/ShowRightNav">
                <mat-icon class="White-icon" >keyboard_arrow_right</mat-icon>
            </a>
          </li>
          </ul>
</div>


<div class="container">
  <router-outlet></router-outlet> 
</div>




<!--The content below is only a placeholder and can be replaced.-->

<!-- <div *ngFor="let message of messages">
    {{message}}
</div>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send</button>


<div id="videoScreen"></div>
<video id="remoteVideo"></video>




<h2>Hello World Example</h2>
<p>
 Use the Choose File button to load an image through OpenCV.js in the <b>canvasOutput</b> section
</p>
<div *ngIf="openCVLoadResult | async as result">
  <div class="error" *ngIf="result.loading">Waiting for OpenCV.js to load!</div>
  <div class="ready" *ngIf="result.ready">OpenCV.js is ready!</div>
  <div *ngIf="result.error">OpenCV.js load error!</div>
</div>

<div>
  <table cellpadding="0" cellspacing="0" width="0" border="0">
    <tr>

      <td>
        <canvas #canvasOutput id="canvasOutput"></canvas>
      </td>
    </tr>
    <tr>
      <td>
        <div class="caption">canvasOutput</div>
      </td>
    </tr>
  </table>
  <div class="caption"> <input (change)="loadImage($event)" #fileInput type="file" id="fileInput" name="file"
    accept="image/*" /></div>
</div> -->
